<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Connexion</title>
    <META charset="utf-8">
    <LINK href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="titre" th:insert="~{fragement::titre}"></div>

    <!-- ************** Barre de menu ************** -->
    <nav th:insert="~{fragement::menu}"></nav>

    <!-- ************** Corps de la page ************** -->
    <div id="login">
        <form method="post">
            <h1>Connexion</h1>
            <label><b>Email</b></label>
            <input type="text" placeholder="Entrer votre email" name="email" required>

            <label><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrer votre mot de passe" name="mdp" required>
            <input type="submit" id='submit' value='LOGIN' >
        </form>
    </div>
    <div id="sign in">
        <br/>
        <p>Vous n'avez pas de compte &eacute;l&egrave;ve ?
            <a title="Inscription" href="inscription" target="_top">Inscription</a>
        </p>
    </div>

    <!-- ************** Pied de page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>
</body>
</html>