<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Destination</title>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <script src="js/destination.js" type="application/javascript"></script>

</head>

<body>
    <!-- ************** Barre de menu ************** -->
    <nav th:replace="~{fragement::menu('accueil')}"></nav>

    <!-- ************** Corps de la page ************** -->
    <p class="formulaire-text">Informations sur l'université <small>(Il y'a <bold th:text="${count}">13</bold> personne(s) intéressée(s))</small>
        <a th:if="${eleveConnecte!= null && eleveConnecte.email=='admin@admin'}" th:href="${'modifDestination?id='+destination.id}">
            <i class='fas fa-pen' style='font-size:24px; color: white;'></i></a>
    </p>
    <span class="destination_id" hidden="true" th:text="${destination.id}">2</span>
    <article  class="info_destination">
        <label id="nom">NOM : </label>
        <p th:text="${destination.name}"></p>
        <label id="ville">VILLE : </label>
        <p th:text="${destination.city}"></p>
        <label id="pays">PAYS : </label>
        <p th:text="${destination.country}"></p>
        <label id="description">DESCRIPTION : </label>
        <p th:text="${destination.description}"></p>
        <label id="domaine">DOMAINE : </label>
        <p th:text="${destination.domaine}"></p>
        <label id="nb_place">NOMBRE DE PLACE : </label>
        <p th:text="${destination.place}"></p>
        <form method="post">
            <input th:if="${eleveConnecte!=null}" type="submit" value="Choisir cette destination">
        </form>

        <i th:if="${eleveConnecte!=null && eleveConnecte.email=='admin@admin'}" class="fa fa-trash trash" style="font-size:36px; color: white"></i>

    </article>





    <!-- ************** Pied de page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>

</body>
</html>