<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Destination</title>
    <META charset="utf-8">
    <LINK href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="titre" th:insert="~{fragement::titre}"></div>

    <!-- ************** Barre de menu ************** -->
    <nav th:insert="~{fragement::menu}"></nav>

    <!-- ************** Corps de la page ************** -->
    <p>Inofrmations sur l'université</p>
    <label id="id_destination">id : </label>
    <p th:text="${destination.id}"></p>
    <label id="nom">nom : </label>
    <p th:text="${destination.name}"></p>
    <label id="ville">Ville : </label>
    <p th:text="${destination.city}"></p>
    <label id="Pays">Pays : </label>
    <p th:text="${destination.country}"></p>
    <label id="description">description : </label>
    <p th:text="${destination.description}"></p>
    <label id="domaine">domaine : </label>
    <p th:text="${destination.domaine}"></p>
    <label id="nb_place">nb place : </label>
    <p th:text="${destination.place}"></p>


    <!-- ************** Pied de page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>

</body>
</html>