<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Destination</title>
    <META charset="utf-8">
    <LINK href="css/styles.css" rel="stylesheet" type="text/css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <!-- ************** Barre de menu ************** -->
    <nav th:replace="~{fragement::menu('accueil')}"></nav>

    <!-- ************** Corps de la page ************** -->
    <p class="formulaire-text">Informations sur l'université<a th:href="${'modifDestination?id='+destination.id}"><i class='fas fa-pen' style='font-size:24px'></i></a></p>
    <article  class="info_destination">
        <label id="nom">NOM : </label>
        <p th:text="${destination.name}"></p>
        <label id="ville">VILLE : </label>
        <p th:text="${destination.city}"></p>
        <label id="pays">PAYS : </label>
        <p th:text="${destination.country}"></p>
        <label id="description">DESCRIPTION : </label>
        <p th:text="${destination.description}"></p>
        <label id="domaine">DOMAINE : </label>
        <p th:text="${destination.domaine}"></p>
        <label id="nb_place">NOMBRE DE PLACE : </label>
        <p th:text="${destination.place}"></p>
    </article>
    <article class="destination_photo">
        <img src="images/avion.jpg" width="100%" alt="logo mobiliti"/>
    </article>



    <!-- ************** Pied de page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>

</body>
</html>