<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Favoris</title>
    <META charset="utf-8">
    <LINK href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="titre" th:insert="~{fragement::titre}"></div>

    <!-- ************** Barre de menu ************** -->
    <nav th:insert="~{fragement::menu}"></nav>

    <!-- ************** Corps de la page ************** -->
    <p> Voici vos destinations favorites</p>
    </br>
    <!-- ************** Pied de page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>
</body>
</html>