<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link linkrel="icon" type="image/x-icon" href="../../images/favicon.ico" />
</head>
<body>
<nav th:fragment="menu(currentPage)">
    <ul class="navbar">
        <li th:class="${currentPage == 'accueil' ? 'active' : ''}">
        <li>
            <a title="=Accueil" id="logo_minimenu" href="accueil" > <img  src="images/logo3.png" height="50" alt="Logo Mobility"/> </a>
        </li>
        <div class="deroulant">
        <li th:class="${currentPage == 'liste' ? 'active' : ''}">
            <a title="Liste" href="liste" class="bouton" target="_top">
                <SPAN>Liste</SPAN>
            </a>
        </li>
        <li th:class="${currentPage == 'map' ? 'active' : ''}">
            <a title="Map" href="map" class="bouton" target="_top">
                <SPAN>Map</SPAN>
            </a>
        </li>
        <li  th:if="${eleveConnecte!=null}" th:class="${currentPage == 'favoris' ? 'active' : ''}">
            <a title="Favoris" href="favoris" class="bouton" target="_top">
                <SPAN>Favoris</SPAN>
            </a>
        </li>
        <li  th:if="${eleveConnecte!=null}" th:class="${currentPage == 'profil' ? 'active' : ''}">
            <a title="Profil" href="profil" class="bouton" target="_top">
                <SPAN>Profil</SPAN>
            </a>
        </li>
        <li  th:if="${eleveConnecte==null}" th:class="${currentPage == 'connexion' ? 'active' : ''}">
            <a title="Connexion" href="connexion" class="bouton" target="_top">
                <SPAN>Connexion</SPAN>
            </a>
        </li>
        <li th:unless="${eleveConnecte==null}">
            <a title="Deconnexion" href="deconnexion" class="bouton" target="_top">
                <SPAN>Deconnexion</SPAN>
            </a>
        </li>
        </div>
    </ul>
</nav>
<footer th:fragment="pied">
    <center>
        <br/>
        <hr  width="75%" />
        <p>Derni&egrave;re mise &agrave; jour : 2019 <br/>
            Contact : <a href="mailto: mobil'iti@hei.yncrea.fr">mobil'iti@hei.yncrea.fr</a></p>
        <script language="javascript">
            function ouvre_popup(page)
            {
                window.open(page,"HEI","menubar=no, status=no, scrollbars=no, menubar=no, width=600, height=600");
            }
        </script>
        <a href="javascript:ouvre_popup('https://www.hei.fr')">
            <img  src="images/HEI.jpg" width="100" height="80" alt="Logo HEI"/>
        </a>
    </center>
</footer>

</body>
</html>
