<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Formulaire de création de compte Mobil'ITI</title>
	<meta charset="UTF-8">
      <LINK href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="titre" th:insert="~{fragement::titre}"></div>

  <!-- ************** Barre de menu ************** -->
  <nav th:insert="~{fragement::menu}"></nav>

  <!-- ************** Corps de la page ************** -->
  <form method="post">
      <div>
          <label for="lastname">Nom :</label>
          <input type="text" id="lastname" name="nom" required>
      </div>
      <div>
          <label for="prenom">Prenom :</label>
          <input type="text" id="prenom" name="prenom" required>
      </div>
      Domaine :
      <select name="domaine" >
          <option value="BTP">Votre domaine</option>
          <option value="BTP">BTP</option>
          <option value="BAA">BAA</option>
          <option value="ITI">ITI</option>
          <option value="PCE">PCE</option>
          <option value="CM">CM</option>
          <option value="CM">ESEA</option>
          <option value="CM">IMS</option>
          <option value="CM">SMART CITIES</option>
          <option value="CM">TIMTEX</option>
      </select>
      <div>
          <label for="mail">Mail :</label>
          <input type="mail" id="mail" name="email" required>
      </div>
      <div>
          <label for="mdp">Mot de passe :</label>
          <input type="password" id="mdp" name="password" required>
      </div>
      <div>
          Photo : <input type="file" name="Photo" />
          <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
      </div>
      <input type="submit" id='submit' value='Valider' >
  </form>

  <!-- ************** Pied de page ************** -->
  <FOOTER th:insert="~{fragement::pied}"></FOOTER>
  </body>
</html>