<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Formulaire de création de compte Mobil'ITI</title>
	<meta charset="UTF-8">
      <link href="css/styles.css" rel="stylesheet" type="text/css">
      <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>
  <body>
  <!-- ************** Barre de menu ************** -->
  <nav th:replace="~{fragement::menu('connexion')}"></nav>

  <!-- ************** Corps de la page ************** -->
  <form  method="post" class="inscription">
      <div>
          <label for="lastname"><p class="formulaire-text">Nom :</p></label>
          <input class="input" type="text" id="lastname" name="nom" required>
      </div>
      <div>
          <label for="prenom"><p class="formulaire-text">Prenom :</p></label>
          <input class="input" type="text" id="prenom" name="prenom" required>
      </div>
      <div>
          <p class="formulaire-text">Domaine :</p>
          <select class="input" name="domaine" >
              <option value="BTP">Votre domaine</option>
              <option value="BTP">BTP</option>
              <option value="BAA">BAA</option>
              <option value="ITI">ITI</option>
              <option value="PCE">PCE</option>
              <option value="CM">CM</option>
              <option value="ESEA">ESEA</option>
              <option value="IMS">IMS</option>
              <option value="SC">SMART CITIES</option>
              <option value="TIMTEX">TIMTEX</option>
          </select>
      </div>
      <div>
          <label for="mail"><p class="formulaire-text">Mail :</p></label>
          <input class="input" type="mail" id="mail" name="email" required>
      </div>
      <div>
          <label for="mdp"><p class="formulaire-text">Mot de passe :</p></label>
          <input class="input" type="password" id="mdp" name="password" required>
      </div>
      <div>
          <p class="formulaire-text">Photo :</p> <input class="input" type="file" name="Photo" />
          <input class="input" type="hidden" name="MAX_FILE_SIZE" value="100000" />
      </div>
      <div>
          <input class="input form-button" type="submit" id='submit' value='Inscription' >
      </div>
  </form>

  <!-- ************** Pied de page ************** -->
  <FOOTER th:insert="~{fragement::pied}"></FOOTER>
  </body>
</html>