<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>listEleve</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/eleve.js" type="application/javascript"></script>
</head>
<body>

    <!-- ************** Barre de menu ************** -->
    <!--nav th:replace="~{fragement::menu('accueil')}"--><!--/nav-->

    <!-- ************** corps de la page ************** -->
    <table class="table table-striped table-hover" id="cities-list">
        <caption>Eleve list</caption>
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Domaine</th>
            <th scope="col">Email</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody id="listEleve">

        </tbody>
    </table>

    <!-- ************** Pied de page ************** -->
    <!--FOOTER  th:insert="~{fragement::pied}"--><!--/FOOTER-->

</body>
</html>