<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mobiliti</title>
    <META charset="utf-8">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/favoris.js" type="application/javascript"></script>

    <script src="js/destination.js" type="application/javascript"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <STYLE>
        .selected{
            color: yellow;
        }
    </STYLE>
</head>

<body>
    <!-- ************** Barre de menu ************** -->
    <nav th:replace="~{fragement::menu('liste')}"></nav>


    <!-- ************** Corps de la page ************** -->

    <h2 id="titre_listuniv">Liste des universités partenaires</h2>

    <div id="searchbar">
        <h1>Rechercher une destination</h1>
        <script type="text/javascript">
            function FindNext () {
                var str = document.getElementById ("findField").value;
                if (str == "") {
                    alert ("Please enter some text to search!");
                    return;
                }

                var supported = false;
                var found = false;
                if (window.find) {
                    supported = true;
                    found = window.find (str);
                }
                else {
                    if (document.selection && document.selection.createRange) {
                        var textRange = document.selection.createRange ();
                        if (textRange.findText) {
                            supported = true;
                            if (textRange.text.length > 0) {
                                textRange.collapse (true);
                                textRange.move ("character", 1);
                            }
                            found = textRange.findText (str);
                            if (found) {
                                textRange.select ();
                            }
                        }
                    }
                }

                if (supported) {
                    if (!found) {
                        alert ("La recherche suivante n'a pas été trouvé:\n" + str);
                    }
                }
                else {
                    alert ("Votre navigateur ne peut pas effectuer cette recherche !");
                }
            }
        </script>

        <input type="text" id="findField" value="" size="20" />
        <button id="searchbutton" onclick="FindNext ();">Rechercher</button>
    </div>


    <ul id="list">
            <li th:each="destination:${destinationList}" class="destination">
                <span class="destination_id" hidden="true" th:text="${destination.id}">2</span>
                <span th:if="${eleveConnecte!=null}" class="user_id" hidden="true" th:text="${eleveConnecte.getId_eleve()}">3</span>

                <h2><bold th:text="${destination.city}">Laval</bold> - <bold th:text="${destination.country}">Canada</bold> - <bold th:text="${destination.domaine}">ITI</bold>

                    <a th:href="${ 'destination?id=' + destination.id }">-
                        <i class="fa fa-search" style="font-size:36px; color: white; text-decoration: none; text-align: right;"></i>
                    </a>
                    <i th:if="${eleveConnecte!=null}" class='fas fa-star star unselected' style='font-size:36px'></i>
                    <i th:if="${eleveConnecte!=null && eleveConnecte.email=='admin@admin'}" class="fa fa-trash trash" style="font-size:36px; color: white"></i>
                    <p id="des-list" th:text="${destination.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </h2>
            </li>
    </ul>

    <div th:if="${eleveConnecte !=null && eleveConnecte.email=='admin@admin'}" class="ajout_destination">
    <h2  id="titre_ajout">Ajouter une destination</h2>
    <form  id="form_list" method="post">
        <table class="tableform">
            <tr>
                <td>
        <div>
            <h3>Université</h3>
            <input type="text" name="univ" id="univ" placeholder="Nom de l'université..." />
        </div>
                </td>
                <td>
        <div>
            <h3>Ville</h3>
            <input type="text" name="ville" id="ville" placeholder="Ville de l'université..." />
        </div>
                </td>
                <td>
        <div>
            <h3>Pays</h3>
            <input type="text" name="pays" id="pays" placeholder="Pays de l'université..." />
        </div>
                </td>
            </tr>
            <tr>
                <td>
            <div>
                <h3>Domaine</h3>
                <select name="domaine" id="domaine">
                    <option value="moil">MOIL</option>
                    <option value="iti">ITI</option>
                    <option value="ims">IMS</option>
                    <option value="btp">BTP</option>
                    <option value="baa">BAA</option>
                    <option value="smart" >Smart cities</option>
                    <option value="esea">ESEA</option>
                    <option value="entre">Entrepreneuriat</option>
                    <option value="timtex">TIMTEX</option>
                    <option value="ese">ESE</option>
                    <option value="cm">CM</option>
                    <option value="bfa">BFA</option>
                    <option value="chimie">Chimie</option>
                </select>
            </div>
                </td>
                <td>
            <div>
                <h3>Nombre de place</h3>
                <input type="number" name="nombre" id="nombre" placeholder="Nombre de place..."/>
            </div>
                </td>
            </tr>
        </table>
                    <div>
                        <h3>Description</h3>
                        <textarea name="description" cols="40" rows="10" id="description">Description...</textarea>
                    </div>

        <div>
            <input type="submit" id="submit" value="Ajouter">
        </div>
        </table>
    </form>
    </div>

    <!-- ************** Pied de page ************** -->
    <FOOTER  th:insert="~{fragement::pied}"></FOOTER>

</body>



</html>