<!DOCTYPE html>

<hmtl>

<head>
    <title>Liste</title>
    <META charset="utf-8">
    <LINK href="../css/Styles.css" rel="stylesheet" type="text/css">
</head>

<body>

<div align="center" class="title">
        <h1>MobilITI</h1>
        <hr width="75%" />
<div/>

        <!-- ************** Barre de menu ************** -->


        <div>
            <UL class="navbar">
                <LI>
                    <A title="Map" href="Map.html" class="bouton" target="_top">
                        <SPAN>Map</SPAN>
                    </A>
                </LI>
                <LI>
                    <A title="Liste" href="Liste.html" class="bouton" target="_top">
                        <SPAN>Liste</SPAN>
                    </A>
                </LI>
                <LI>
                    <A title="Favoris" href="Favoris.html" class="bouton" target="_top">
                        <SPAN>Favoris</SPAN>
                    </A>
                </LI>
                <LI>
                    <A title="Profil" href="Profil.html" class="bouton" target="_top">
                        <SPAN>Profil</SPAN>
                    </A>
                        
                </LI>

                
               
            </UL>
        </div>



 <!-- ************** Corps de la page ************** -->


</div>
<h2>Voici la liste des universités disponibles</h2>
</br>


    <table>
<caption>Destinations</caption>
    <tr>
        <th>Nom</th>
        <th>Pays</th>
        <th>Domaine</th>
        <th>Image</th>
        <th>Favori</th>
    </tr>
    <tr>
        <td>Laval</td>
        <td>Canada</td> 
        <td>ITI</td>
        <td> <img  src="..\HEI.jpg" width="40" height="40" alt="Logo HEI"/></td>
        <td>  <img  src="..\HEI.jpg" width="40" height="40" alt="Etoile Favori"/></td>
    </tr>
    <tr>
        <td>Universida Mayor</td>
        <td>Argentine</td> 
        <td>BTP</td>
        <td> <img  src="..\HEI.jpg" width="40" height="40" alt="Logo HEI"/></td>
        <td>  <img  src="..\HEI.jpg" width="40" height="40" alt="Etoile Favori"/></td>
    </tr>
    <tr>
        <td>Wollongong</td>
        <td>Australie</td> 
        <td>ESEA</td>
        <td> <img  src="..\HEI.jpg" width="40" height="40" alt="Logo HEI"/></td>
        <td>  <img  src="..\HEI.jpg" width="40" height="40" alt="Etoile Favori"/></td>
    </tr>
</table>






  <!-- ************** Pied de page ************** -->




        <FOOTER>
    <center>
        <hr  width="75%" />
        <p>Derni&egrave;re mise &agrave; jour : 2019 <br/>
        Contact : <a href="mailto: paul.jourdan-du-mazot-le-rat-de-magnitot@hei.yncrea.fr">paul.jourdan-du-mazot-le-rat-de-magnitot@hei.yncrea.fr</a></p>
        

    <SCRIPT language="javascript">
        function ouvre_popup(page) 
        {
            window.open(page,"HEI","menubar=no, status=no, scrollbars=no, menubar=no, width=600, height=600");
        }
    </SCRIPT>


        <a href="javascript:ouvre_popup('https://www.hei.fr')">
            <img  src="../images/HEI.jpg" width="40" height="40" alt="Logo HEI"/>
        </a>

    </center>
    
</FOOTER>

</BODY>


 
</hmtl>