<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste</title>
        <META charset="utf-8">
        <LINK href="css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="titre" th:insert="~{fragement::titre}"></div>

    <!-- ************** Barre de menu ************** -->
    <nav th:insert="~{fragement::menu}"></nav>

    <!-- ************** Corps de la page ************** -->
    <div align="center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5037.94327025467!2d3.0390228639136225!3d50.63383544900015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d579573550df%3A0xaa9c89af983f58e9!2sHautes%20Etudes%20d&#39;Ing%C3%A9nieur%20Lille!5e0!3m2!1sfr!2sfr!4v1573632895621!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

    <!-- ************** Pied de la page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>
    </body>
</html>