<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Map</title>
        <META charset="UTF-8">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    </head>
    <body>
    <!-- ************** Barre de menu ************** -->
    <nav th:replace="~{fragement::menu('map')}"></nav>

    <!-- ************** Corps de la page ************** -->

    <div align="center">
        <br/>
        <iframe src="https://www.google.com/maps/d/embed?mid=1vY0Ppu5ALuLkpzULYnFTVhSO35yXVFZK" width="900" height="560"></iframe>
    </div>

    <!-- ************** Pied de la page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>
    </body>
</html>