<!DOCTYPE html>
<hmtl>

    <head>
        <title>Liste</title>
        <META charset="utf-8">
        <LINK href="../css/Styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>

    <div class="titre">
        <h1>MobilITI</h1>

    </div>

        <!-- ************** Barre de menu ************** -->

    <div>
        <UL class="navbar">
            <LI>
                <A title="Map" href="Map.html" class="bouton" target="_top">
                    <SPAN>Map</SPAN>
                </A>
            </LI>
            <LI>
                <A title="Liste" href="Liste.html" class="bouton" target="_top">
                    <SPAN>Liste</SPAN>
                </A>
            </LI>
            <LI>
                <A title="Favoris" href="Favoris.html" class="bouton" target="_top">
                    <SPAN>Favoris</SPAN>
                </A>
            </LI>
            <LI>
                <A title="Profil" href="Profil.html" class="bouton" target="_top">
                    <SPAN>Profil</SPAN>
                </A>

            </LI>

        </UL>
    </div>


    <!-- ************** Corps de la page ************** -->

    <div align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5037.94327025467!2d3.0390228639136225!3d50.63383544900015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d579573550df%3A0xaa9c89af983f58e9!2sHautes%20Etudes%20d&#39;Ing%C3%A9nieur%20Lille!5e0!3m2!1sfr!2sfr!4v1573632895621!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>


    <FOOTER>
        <center>
            <hr  width="75%" />
            <p>Derni&egrave;re mise &agrave; jour : 2019 <br/>
                Contact : <a href="mailto: paul.jourdan-du-mazot-le-rat-de-magnitot@hei.yncrea.fr">paul.jourdan-du-mazot-le-rat-de-magnitot@hei.yncrea.fr</a></p>


            <SCRIPT language="javascript">
                function ouvre_popup(page)
                {
                    window.open(page,"HEI","menubar=no, status=no, scrollbars=no, menubar=no, width=600, height=600");
                }
            </SCRIPT>


            <a href="javascript:ouvre_popup('https://www.hei.fr')">
                <img  src="../images/HEI.jpg" width="40" height="40" alt="Logo HEI"/>
            </a>

        </center>

    </FOOTER>


    </body>

</hmtl>