<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModificationDestination</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
</head>

<body>
<form method="post">
    <div>
        <label for="NouveauNom"><p class="formulaire-text">Nouveau Nom :</p></label>
        <input class="input" type="text" id="NouveauNom" name="NouveauNom" >
    </div>
    <div>
        <label for="NouvelleVille"><p class="formulaire-text">Nouvelle Ville :</p></label>
        <input class="input" type="text" id="NouvelleVille" name="NouvelleVille" >
    </div>
    <div>
        <label for="NouveauPays"><p class="formulaire-text">Nouveau Pays :</p></label>
        <input class="input" type="text" id="NouveauPays" name="NouveauPays" >
    </div>
    <div>
        <label for="NouvelleDescription"><p class="formulaire-text">Nouvelle Description :</p></label>
        <textarea class="input" type="text" id="NouvelleDescription" name="NouvelleDescription" > Description de la destination</textarea>
    </div>
    <div>
        <p class="formulaire-text">Domaine :</p>
        <select class="input" name="NouveauDomaine" >
            <option value="BTP">Votre domaine</option>
            <option value="BTP">BTP</option>
            <option value="BAA">BAA</option>
            <option value="ITI">ITI</option>
            <option value="PCE">PCE</option>
            <option value="CM">CM</option>
            <option value="ESEA">ESEA</option>
            <option value="IMS">IMS</option>
            <option value="SC">SMART CITIES</option>
            <option value="TIMTEX">TIMTEX</option>
        </select>
    </div>
    <div>
        <label for="NouvellePlace"><p class="formulaire-text">Nouveau nombre de place :</p></label>
        <input class="input" type="number" id="NouvellePlace" name="NouvellePlace" >
    </div>
    <div>
        <input class="input form-button" type="submit" id='submit' value='Modifier la destination' >
    </div>
</form>
</body>
</html>