/*1. CSS Général du site*/

body {
    margin: 10px;
    font-family: Calibri, sans-serif;
    font-size: 0.8em;
    color: #29335c;
    background-color: /*#fbfbf2*/ #ececec;
}

h1 {
    margin: 0;
}

.tetepage {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 5%;
}

.titre {
    margin : 0;
    padding: 0;
    font-size: 2em;
    color : #29335c;
    text-align: left;
    display: flex;
}

.titre img {
    margin-bottom: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

caption {
    margin-bottom: 5%;
}

/*1.A. mise en page navbar*/

.navbar {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5em;
    color : #fbfbf2;
    position: relative;
    background-color: #29335c;
}

.navbar a {
    display:inline-flex;
    color: #fbfbf2;
    margin: 0 5em;
    text-decoration: none;
}

.navbar li {
    display: inline-flex;
    list-style: none;
}

/*Fin du CSS général*/

/*Utilisateur*/
#utilisateur{
    text-align: center;
    color: #29335c;
}
/*2. CSS de liste */

/*Searchbar*/

#searchbar h1{
    margin-bottom: 2%;
}




/*Liste correction*/
#list{
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

#list li{
    position: relative;
    width: 100%;
    height: 10rem;
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #29335c;
    color: #fbfbf2;
}

#list li h2,
#list li p,
#list li span{
    margin-left: 11rem;
}

#list li img {
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 10rem;
}

/*fin correction */

#banniere{
    padding-bottom: 1%;
    text-align: center;
}

#banniere h1{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2.5em;
}

#banniere h3{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: 1.5em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

a.bouton1 {
    margin-top: 5%;
    padding: 10px 30px;
    background: #29335c;
    color: #fbfbf2;
}

a.bouton1:hover {
    background: #29335c;
}

.Boxe{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ajout_destination{
    text-align: center;
}

.tableform tr {
    margin-left: 5%;
    margin-right: 5%;

}

#titre_listuniv {
    text-align: center;
    margin-top: 5%;
    font-size: 2em;
}

#titre_univ{
    }

#form_list {
    margin-left: 30%;
    width:50%;
    text-align: center;
    margin-left: 25%;
}
/*Fin du CSS de liste */

/* CSS de la page profil */

.profilpage h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3em;
}

.elementform {
    font-size:2em;
    background-color: #29335c;
    color: #fbfbf2;
    width: 14%;
    text-align: center;
    margin-left: 25%;
}

.profilinfo p {
    font-size: 2em;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

/*css photo + encadré photo*/
.photoprofil {
    margin-top: 8%;
    padding: 6%;
    position: absolute;
    top: 10%;
    left: 70%;
    }

.photoprofil p {
    padding: 1%;
    margin: 3%;
    font-size:2em;
    background-color: #29335c;
    color: #fbfbf2;
    text-align: center;
}

/*Debut CSS de inscription*/
.inscription{
    width: 100%;
}

.formulaire-text{
    font-size:2em;
    background-color: #be6e46;
    color: #fbfbf2;
    text-align: center;
}

.input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.form-button{
    font-size: 2em;
    margin-top: 4%;
    background-color: #29335c;
    color: white;
}

.form-button:hover{
    background-color: #fbfbf2;
    color: black;
}

/*Connexion CSS*/

#login h1 {
    margin-bottom: 5%;
}

#login label {
    background-color: #29335c;
    color: #fbfbf2;
    margin: 2%;
    width: 5%;
    padding: 0.5%;
}

#submit {margin-top: 2%;}

#sign_in {
    text-align: center;
    margin-bottom: 5%;
    font-size: 1em;
    margin-top: 5%;
}

#sign_in a {
    margin: 3%;
}

/*LAST. CSS du footer*/
.footerbis {
    color: #29335c;
    text-align: center;
}

.footerbis img {
    left: 40%;
}

