/*1. CSS Général du site*/

body {
    margin: 10px;
    font-family: Calibri, sans-serif;
    font-size: 0.8em;
    color: #29335c;
    background-color: #fbfbf2;
}

h1 {
    margin: 0;
}

.titre {
    margin : 0;
    padding: 0;
    font-size: 2em;
    color : #29335c;
    text-align: left;
    display: flex;
}

.titre img {
    margin-bottom: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

caption {
    margin-bottom: 5%;
}

/*1.A. mise en page navbar*/

.navbar {
    padding: 0;
    margin: 0;
    display: inline-flex;
    text-align: center;
    font-size: 2em;
    color : #fbfbf2;
    position: relative;
    background-color: #29335c;
    width: 100%;
}

.navbar a {
    display: inline-block;
    color: #fbfbf2;
    margin: 0 5em;
    text-decoration: none;
}

.navbar li {
    display: inline;
    list-style: none;
}

/*Fin du CSS général*/
/*2. CSS de liste */

#banniere{
    padding-bottom: 20%;
    text-align: center;
    background-image:url("../images/route.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
a.bouton1 {
    margin-top: 10%;
    padding: 10px 30px;
    background: #fbfbf2;
    color: black;
}
a.bouton1:hover {
    background: #29335c;
}
#univ-liste {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#univ-liste li h3{
    margin-left: 10%;
}

#univ-liste li hr {
    color: #fbfbf2;
    width :60%;
    margin-left: 15%;
    bottom: 20%;

}

#univ-liste li p {
    width :70%;
    margin-left: 5%;
}


#univ-liste li {
    position: relative;
    width: 90%;
    height: 10rem;
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #29335c;
    color: #fbfbf2;
}

#LOGO_HEI{
    position: relative;
    bottom: 25%;
    left: 80%;
}

.ajout_destination{
    text-align: center;
}

#STAR1 {
    position: relative;
    bottom: 75%;
    left: 90%;
}

.tableform tr {
    margin-left: 5%;
    margin-right: 5%;

}

#titre_listuniv {
    text-align: center;
    margin-top: 5%;
    font-size: 2em;
}

#titre_univ{
    text-align: center;
}


/*Fin du CSS de liste */

form {
    margin-left: 30%;
    width:50%;
    text-align: center;
    margin-left: 25%;
}
/* CSS de la page profil */

.profilpage h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3em;
}

.elementform {
    font-size:2em;
    background-color: #29335c;
    color: #fbfbf2;
    width: 14%;
    text-align: center;
    margin-left: 25%;
}

.profilinfo p {
    font-size: 2em;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

/*css photo + encadré photo*/
.photoprofil {
    margin-top: 8%;
    position: absolute;
    top: 10%;
    left: 70%;
    }

.photoprofil p {
    font-size:2em;
    background-color: #29335c;
    color: #fbfbf2;
    text-align: center;
}



/*LAST. CSS du footer*/
.footerbis {
    color: #29335c;
    text-align: center;
}

.footerbis img {
    left: 40%;
}