<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Favoris</title>
    <META charset="utf-8">
    <LINK href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- ************** Barre de menu ************** -->
    <nav th:insert="~{fragement::menu}"></nav>

    <!-- ************** Corps de la page ************** -->
    <p> Voici vos destinations favorites</p>
    <ul id="list">
        <li th:each="favoris:${listOfFavoris}">
            <h2><bold th:text="${favoris.city}">Laval</bold> - <bold th:text="${favoris.country}">Canada</bold> - <bold th:text="${favoris.domaine}">ITI</bold></h2>
            <img  src="images/HEI.jpg" width="100" height="100" alt="Logo HEI" id="LOGO_HEI"/>
            <p id="des-list" th:text="${favoris.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <span id="STAR1">&#9733;</span>
        </li>
    </ul>

    </br>
    <!-- ************** Pied de page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>
</body>
</html>