<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification profil</title>
    <LINK href="css/styles.css" rel="stylesheet" type="text/css" >
</head>
    <body>
    <div class="titre" th:insert="~{fragement::titre}"></div>
    <nav th:insert="~{fragement::menu}"></nav>
        <form method="post">
            <div>
                <label for="NouveauNom"><p class="formulaire-text">Nouveau Nom :</p></label>
                <input class="input" type="text" id="NouveauNom" name="NouveauNom" >
            </div>
            <div>
                <label for="NouveauPrenom"><p class="formulaire-text">Nouveau Prenom :</p></label>
                <input class="input" type="text" id="NouveauPrenom" name="NouveauPrenom" >
            </div>
            <div>
                <p class="formulaire-text">Domaine :</p>
                <select class="input" name="NouveauDomaine" >
                    <option value="BTP">Votre domaine</option>
                    <option value="BTP">BTP</option>
                    <option value="BAA">BAA</option>
                    <option value="ITI">ITI</option>
                    <option value="PCE">PCE</option>
                    <option value="CM">CM</option>
                    <option value="ESEA">ESEA</option>
                    <option value="IMS">IMS</option>
                    <option value="SC">SMART CITIES</option>
                    <option value="TIMTEX">TIMTEX</option>
                </select>
            </div>
            <div>
                <input class="input form-button" type="submit" id='submit' value='MoficationProfil' >
            </div>
        </form>
    </body>
</html>