<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profil</title>
    <META charset="utf-8">
    <LINK href="css/styles.css" rel="stylesheet" type="text/css" >
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
    <div class="titre" th:insert="~{fragement::titre}"></div>

    <!-- ************** Barre de menu ************** -->
    <nav th:insert="~{fragement::menu}"></nav>

    <!-- ************** Corps de la page ************** -->
    <div class="profilpage">
        <h1 th:unless="${eleveConnecte==null}">Profil</h1>
        <section th:unless="${ eleveConnecte==null}" class="profilinfo">
            <p class="elementform">Nom :</p>
            <a href="modification" ><i class='fas fa-pen' style='font-size:24px'></i></a>
            <p th:text="${eleveConnecte.nom}">Jourdan</p>
            <p class="elementform">Prénom :</p>
            <a href="modification" ><i class='fas fa-pen' style='font-size:24px'></i></a>
            <p th:text="${eleveConnecte.prenom}">Paul</p>
            <p class="elementform">Domaine :</p>
            <a href="modification" ><i class='fas fa-pen' style='font-size:24px'></i></a>
            <p th:text="${eleveConnecte.domaine}">ITI</p>
            <p class="elementform">Mail :</p>
            <p th:text="${eleveConnecte.email}">paul.jourdan@hotmail.fr</p>
            <p class="elementform">Mot de passe :</p>
            <p>********</p>
            <div class="photoprofil">
                <p>Photo :</p>
                <img src="images/Paul.JPG" width="150" height="150" alt="Photo Paul"/>
            </div>
            <a href="ModificationMdp" ><i class='fas fa-pen' style='font-size:24px'></i></a>
        </section>
        <section th:if="${eleveConnecte==null}">
            <p>Vous n'êtes pas connecté :</p>
            <a href="connexion" class="bouton1">Se connecter</a>
        </section>

    </div>


    <!-- ************** Pied de page ************** -->
    <FOOTER th:insert="~{fragement::pied}"></FOOTER>
    </body>
</html>